# Spanner env variables
SPANNER_PROJECT=<gcp project-id>
SPANNER_INSTANCE=<spanner instance-id>
SPANNER_DATABASE=<spanner database-id>

# PGAdapter env variables are set directly in docker-compose.yml file
